p {
    width: 70%  
}

.note {
    border: 2px solid darkgray;
    margin-bottom: 0.8%;
    box-shadow: 3px 3px #131746;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.note:hover {
    background-color: rgba(239, 239, 239, 0.919);
}