textarea:focus, input:focus {
    outline: 10;
}
textarea {
    padding: 1%;
    height: 100px;
    width: 20%;
    margin-bottom: 10px;
    
}

textarea:focus{
    background-color: rgba(146, 146, 134, 0.26);
   
}