* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: $font-primary;
    height: 80%;
    margin: 5%;
}