button {
    margin-bottom: 1.5%;
    padding: 1%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    // box-shadow: 5px 1px palegrey;
}

button:hover {
    background-color: grey;
    color: white;
}