@import '../styles/styles.scss';

.header {
    height: 4.9rem;
    background-color: $grey-pale;
    .app-column {
        height: 100%;
        display: flex;
    }
    img {
        width: 11.3rem;
    }
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: right;
    margin: 10px;
}

.draft {
    width: 50%
}

.notes {
    width: 100%;
    margin-top: 10%;
}
   